
body {
    background: linear-gradient(to right,#003399 0%,#9900ff 100%);
    height: 100%;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}


#sub_body_1 #sub_body_2
#sub_body_3 #sub_body_4
#sub_body_5 {
    background: linear-gradient(to right,#003399 0%,#9900ff 100%);
    height: 100%;
    margin: 0;
}

#canvas,#text{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#text {
    min-height: 100vh;
    width: 100vw;
    z-index: 1;
    color: rgb(248,252,251);
    opacity: 75%;
    text-transform: uppercase;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header {
    background-color: transparent;
    overflow: hidden;

}

#header a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#p_background_1 #p_background_2 
#p_background_3 #p_background_4
#p_background_5 {
    background: linear-gradient(to right,#003399 0%,#9900ff 100%);
    position: absolute;
    height: 100%;   
}

.whatisaiimage {
    height: 350px;
    width: 350px;
    display: block;
    position: absolute;
    align-items: center;
}


.domainimages {
 height: 450px;
 width: 4
50px;
}

.advantagesimage {
    height: 450px;
    width: 550px;
}

.disadvantagesimage {
    height: 350px;
    width: 450px;
}
/* .domains_of_aiimage .advantagesofaiimage .disadvantagesofai */