
body {
    background: linear-gradient(to right,#003399 0%,#9900ff 100%);
    height: 100%;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
}


#sub_body_1 #sub_body_2
#sub_body_3 #sub_body_4
#sub_body_5 {
    height: 100%;
    margin: 0;
}

#canvas,#text{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

#text {
    min-height: 100vh;
    width: 100vw;
    z-index: 1;
    color: rgb(248,252,251);
    opacity: 75%;
    text-transform: uppercase;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header {
    background-color: transparent;
    top: 100px;
    display: flex;
    float: right;
    z-index: 1;
}

#header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    z-index: 2;
} 

#header a:hover {
    background-color: #ffffff5d;
    color: #000000;
}

#p_background_1 #p_background_2 
#p_background_3 #p_background_4
#p_background_5 {
    background: linear-gradient(to right,#003399 0%,#9900ff 100%);
}

#linktest {
    z-index: 1;
}

.whatisaiimage {
    height: 350px;
    width: 350px;
}


.domainimages {
 height: 350px;
 width: 350px;
}

.advantagesimage {
    height: 250px;
    width: 350px;
}

.disadvantagesimage {
    height: 450px;
    width: 550px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

ul li::before {
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 1em;
    margin-left: -1em;
}